.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: min(600px, 90vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 6rem auto;
}

@property --scroll-position {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --scroll-position-delayed {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes adjust-pos {
  to {
    --scroll-position: 1;
    --scroll-position-delayed: 1;
  }
}

:root {
  animation: adjust-pos linear both;
  animation-timeline: scroll(root);
}

body {
  transition: --scroll-position-delayed 0.15s linear;
  --scroll-velocity: calc(var(--scroll-position) - var(--scroll-position-delayed));
  --scroll-speed: abs(var(--scroll-velocity));
  --scroll-direction: sign(var(--scroll-velocity));

  --when-scrolling: abs(var(--scroll-direction));
  --when-not-scrolling: abs(var(--when-scrolling) - 1);

  --when-scrolling-up: min(abs(var(--scroll-direction) - abs(var(--scroll-direction))), 1);
  --when-scrolling-down: min(var(--scroll-direction) + abs(var(--scroll-direction)), 1);

  --when-scrolling-down-or-when-not-scrolling: clamp(0, var(--scroll-direction) + 1, 1);
  --when-scrolling-up-or-when-not-scrolling: clamp(0, abs(var(--scroll-direction) - 1), 1);

  --hide-bars: var(--when-scrolling);
}

/* Polyfill for abs() and sign(), thanks to Ana Tudor
   https://css-tricks.com/using-absolute-value-sign-rounding-and-modulo-in-css-today/#aa-sign
*/
@supports not (scale: abs(-1)) {
  body {
    --scroll-speed: max(var(--scroll-velocity), -1 * var(--scroll-velocity));
    --scroll-direction: calc(var(--scroll-velocity) / var(--scroll-speed));

    /* Only polyfilling --when-scrolling here … */
    --when-scrolling: max(var(--scroll-direction), -1 * var(--scroll-direction));
    --hide-bars: var(--when-scrolling);
  }
}

header,
footer {
  position: fixed;
  left: 0;
  right: 0;

  min-height: 1rem;
  padding: 0;
  display: grid;
  background: rgb(255 255 255);
  border-bottom: 1px solid #ccc;
  z-index: 2;
  font-size: 2rem;

  transition: translate 0.5s 0.15s ease-out;
}

header {
  top: 0;
  translate: 0 calc(-90% * var(--hide-bars));
}

footer {
  bottom: 0;
  border-top: 1px solid #ccc;
  translate: 0 calc(90% * var(--hide-bars));
}
